.panel-heading{
    display: none;
    @media #{$tablet} {
        display: block;
        .row{
            padding: 0px 15px;
        }
    }

}

.row.data-wrapper{
    outline: 1px black;
    padding: 5px;
    transition: $light-trans;
    border-top: 1px solid $grey-transp;
    border-bottom: 1px solid $grey-transp;
    &:hover{
        box-shadow: inset 0px 0px 8px -1px rgba(0,0,0,0.44);
        transition: $light-trans-out;
    }

}

.first-data-row{
    padding: 10px;
    text-align: right;
    @media #{$tablet} {
        text-align: center;
    }
    .div{
        padding: 5px;
        @media #{$tablet}{
        padding: 0;
        }
    }
    div:before{
        content: attr(data-type);
        width: 20px;
        height: 20px;
        text-align: left;
        text-decoration: underline;
        float: left;
        display: block;
        @media #{$tablet} {
            visibility: hidden;
            display: none;
        }
    }
}
.first-data-row:hover ~ .second-data-row{
    transition: $medium-trans max-height;
    max-height: 500px;
    border-top: 1px solid $grey-transp;

}
.second-data-row{
    transition: $light-trans;
    max-height: 0;
    overflow: hidden;
    &:hover{
        max-height: 500px;
        border-top: 1px solid $grey-transp;
    }
}

.button-holder{
    .btn{
        width: 100px;
        margin: 5px;
    }
}
