// *** Bootstrap *** //
@import "bootstrap/stylesheets/_bootstrap";

// *** Fonts *** //
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

// *** Media Queries *** //
$phablet: "(min-width: 490px)";
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 960px)";


// *** Pallete *** //
$blue: #222222;
$dark-blue: #231f20;
$mustard-yellow: white;
$grey-transp: rgba(0,0,0,0.1);

// *** Transitions *** //
$light-trans: .3s ease all;
$light-trans-out: .3s ease-out all;
$medium-trans: 0.8s ease;

body {
    background-color: $grey-transp;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}



// *** Import all Sass *** //
@import "components/all";
