// *** Bootstrap *** //
@import "bootstrap/stylesheets/_bootstrap";
@import "font-awesome/font-awesome";


// *** Media Queries *** //
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 960px)";


// *** Pallete *** //
$blue: #222222;
$grey-transp: rgba(0,0,0,0.1);


// *** Transitions *** //
$light-trans: .3s ease all;
$light-trans-out: .3s ease-out all;
$medium-trans: 2s ease all;


body {
    background-color: $grey-transp;
    text-align: center;
}



// *** Import all Sass *** //
@import "components/all";
