.navbar{
    &-brand{
        position: absolute;
        left: 0px;
        top: 0px;
        height: 40px;
        margin: 5px;
        margin-left: 5px;
        padding: 0px;

    }
    h3{
        color: white;
        position: absolute;
        margin: 10px 0px 0px 50px;
        width: 300px;
        padding-top: 5px;
        text-align: left;
        font-size: 20px;
    }
}
.navbar>.container-fluid .navbar-brand {
    margin: 5px;
}

.navbar-right{
position: absolute;
right: 0px;
top: 0px;
margin-right: 0;
    li{
        display: inline-block;
    }
    .btn{
        margin: 5px 5px 0px 0px;

    }
}
