.modal {
    background-color: $grey-transp;
    transition: $medium-trans;
    transition-delay: 1s;
}
textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: $blue;
}


textarea {
    resize: none;
}
.form-group {
    margin-bottom: 25px;
}
